html,
body {
  height: 100%;
  width: 100%;
}

body {
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(255,255,255,0.1);
 }

.navbar-brand {
    color: white;
    font-weight: bolder;    
}

tbody>tr>td {
    background-color: rgba(255,255,255,0.2);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(0,0,0,0.05);
 
 transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}
.table>thead>tr>th, table.entity-table > thead > tr > th, 
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
    border: 0;
}

table {
    border-spacing: 2px;
    border-collapse: separate;
}

footer {
    margin: 2em 0;
}

.main, footer {
    text-align: center;
}

.main > div {
    margin-bottom: 20px;
}

.main > p {
}

.explanation {
    text-align: center;
    margin: 2em 0;
}

thead, .thead {
    background: none !important;
    color: #fff;
    font-weight: bolder;
}
th,td {
    text-align: center;
}

form {
    color: #fff;
}

.input {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.input:hover {
	border-color: #23ffB1;
}
.input {
    box-sizing: border-box;
    width: 60px;
    height: 39px;
    padding: 8px 10px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    background: rgba(255,255,255,0.1);
    font: 16px/20px 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}


.body {
    display: table;

    background: #23e0b1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #23e0b1 0%, #1b56b5 48%, #a660c9 100%) fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#23e0b1), color-stop(48%,#1b56b5), color-stop(100%,#a660c9)) fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #23e0b1 0%,#1b56b5 48%,#a660c9 100%) fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #23e0b1 0%,#1b56b5 48%,#a660c9 100%) fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #23e0b1 0%,#1b56b5 48%,#a660c9 100%) fixed; /* IE10+ */
    background: linear-gradient(135deg,  #23e0b1 0%,#1b56b5 48%,#a660c9 100%) fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23e0b1', endColorstr='#a660c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
