<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The multiplication table of Z/nZ - 乗積表</title>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
  </head>

  <body class="body">

    <div ng-controller="mainCtrl" ng-init="n=6">
      <div id="header" class="navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="/" ng-cloak>
              <span>Z/nZ = Z/{{ n }}Zの乗積表</span>
            </a>
          </div> 
        </div>
      </div>

      <div class="container" class="main">

        <div class="explanation">
          <p ng-cloak>
            The multiplication table of Z/nZ = Z/{{ n }}Z (integers modulo {{n}}).
          </p>

          <div ng-cloak>
            <form novalidate name="myForm" ng-submit="addUser()">
              n = <input class="input" type="text" name="n" ng-model="n" min="1" required>
              <span ng-show="myForm.n.$error.required" style="color: #d00;">正の整数 n は必ず入力して下さい。</span> (⬅ 変更してみましょう。Let's change it. )
            </form>
          </div>
        </div>

        <div class="table-respoinsive" ng-cloak>
          <table class="table table-hover table-borderless">
            <thead>
              <tr><th>×</th>
                <th ng-repeat="row in data track by $index">{{$index}}</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data track by $index"
                    ng-class="{ 'selected-class-name': $index == selectedIndex }"
                    ng-click="itemClicked($index)">
                <td class="thead">{{ $index }}</td>
                <td ng-repeat="e in row track by $index">{{e}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
        <script></script>
        

        <div class="container">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-8 col-md-8">
            <div class="row">
              <h3>楽しい利用例</h3>
              <p>整数を n で割った余りを考えると積にとても興味深い現象が垣間見えます。</p>
              <ul>
                <li>n をいろいろ変更していろんな表を出してみましょう。</li>
                <li>いろいろな n について表を観察して、表の数にどんな法則が成り立っているか推測してみましょう。</li>
                <li>推測した法則が他の表でも成り立っているか、n を変えて確認してみましょう。</li>
                <li>推測した法則が正しそうであれば証明してみましょう。</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2"></div>
        </div>

      </div>

      <footer>
        2014 &copy; Nyoho
      </footer>

      <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-571677-11', 'auto');
       ga('require', 'displayfeatures');
       ga('send', 'pageview');

      </script>
    </div>
  </body>

</html>
