<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The multiplication table of Z/nZ - 乗積表</title>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div ng-controller="mainCtrl" ng-init="n=6" class="main">
        <div class="header" ng-cloak>
          <h1 class="">Z/nZ = Z/{{ n }}Zの乗積表</h1>
        </div>

        <div ng-cloak>
          The multiplication table of Z/nZ = Z/{{ n }}Z (integers modulo {{n}}).
        </div>

        <div ng-cloak>
          <form novalidate name="myForm" ng-submit="addUser()">
            n = <input class="input" type="text" name="n" ng-model="n" min="1" required>
            <span ng-show="myForm.n.$error.required" style="color: #d00;">正の整数 n は必ず入力して下さい。</span> (⬅ 変更してみましょう。Let's change it. )
          </form>
        </div>

        <div class="table-respoinsive" ng-cloak>
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr><th>×</th>
                <th ng-repeat="row in data track by $index">{{$index}}</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in data track by $index">
                <td class="thead">{{ $index }}</td>
                <td ng-repeat="e in row track by $index">{{e}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>

      </div>

      <div>
        <h3>楽しい利用例</h3>
          <ul>
              <li>n をいろいろ変更していろんな表を出してみましょう。</li>
              <li>いろいろな n について表を観察して、表の数にどんな法則が成り立っているか推測してみましょう。</li>
              <li>推測した法則が他の表でも成り立っているか、n を変えて確認してみましょう。</li>
              <li>推測した法則が正しそうであれば証明してみましょう。</li>
          </ul>
      </div>

      <footer>
        2014 &copy; Nyoho
      </footer>
    </div>
  </body>

</html>
